#search-content {
    padding-top: 25px;
}

#result-content {
    padding: 25px;
}

div.container {
    margin: 0;
}

.uncertain-significance {
    color: white;
    background-color: gray;
}

.not-provided {
    color: black;
    background-color: lightgray;
}

.benign {
    color: white;
    background-color: #28a745;
}

.likely-benign {
    color: white;
    background-color: lightseagreen;
}

.likely-pathogenic {
    color: white;
    background-color: orange;
}

.pathogenic {
    color: white;
    background-color: orangered;
}

.drug-response {
    color: white;
    background-color: dodgerblue;
}

.histocompatibility {
    color: white;
    background-color: blueviolet;
}

.other {
    color: white;
    background-color: black;
}

#mascot {
    opacity: 0.5;
    filter: alpha(opacity=50);
    -webkit-filter: grayscale(1);
    -webkit-transition: all .8s ease-in-out;
}

#mascot:hover {
    opacity: 1;
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
}